.site-header {
	background-color: #F6F6F6;
	text-align: center;
}

.office-info {
	max-width: 1016px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 1px solid black;
	.office-number {
		margin-right: 50px;
		h2 {
			font-size: 20px;
			margin: 0;
    		margin-top: 8px;
		}
	}
	.office-name {
		text-align: left;
		margin-left: 25px;
		h2 {
			font-size: 20px;
			font-weight: 600;
			line-height: 23px;
		}
		h3 {
			color: black;
		}
	}
}

#site-navigation {
	#primary-menu {
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		display: table;
		li {
			margin: 0;
			margin: 20px 5px 20px 5px;
			a {
				padding: 10px 18px;
			}
		}
	}
}

.home-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.services {
	text-align: center;
}

.service-list {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 75px;
}

.service {
	max-width: 230px;
	margin: 22.5px;
}

.contact-links {
	text-align: center;
	margin-top: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	.button {
		width: 260px;
		margin-left: 60px;
		margin-right: 60px;
	}
}

.articles {
	margin-top: 130px;
	max-width: 1000px;
	.article-list {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 60px;
	}
	.article {
		max-width: 40%;
		text-align: left;
		margin-bottom: 40px;
		h3 {
			text-align: center;
		}
	}
	.article:first-child {
		margin-right: 50px;
	}
}

.radio-show {
	margin-top: 120px;
		.radio-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.radio-info {
			max-width: 300px;
			margin-left: 70px;
		}
	}
}

.site-footer {
	background-color: #282828;
	min-width: 100%;
	color: white;
	margin-top: 75px;
	a {
		color: white;
		text-decoration: none;
	}
	.footer-row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 700px;
		margin: 0 auto;
		margin-top: 50px;
		.service {
			min-width: 100%;
			h3 {
				margin: 0;
				padding: 0;
				margin-bottom: 7px;
			}
		}
		.article {
			margin-bottom: 7px;
		}
	}
	.section-name {
		margin-bottom: 40px;
	}
	.disclaimer {
		font-style: italic;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		margin-top: 23px;
	}
	.contact-links {
		margin-top: 23px;
		.button {
			border-color: white;
		}
	}
	.copyright {
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		margin-top: 31px;
	}
}

.articles-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.article {
		max-width: 430px;
		//margin-top: 100px;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.single-article {
	margin: 0 auto;
	margin-top: 100px;
	max-width: 700px;
	.button {
		margin-left: -150px;
		margin-top: -50px;
	}
	.post-title {
		text-align: center;
		font-weight: 400;
		font-size: 35px;
		margin: 0;
	}
	.article-date {
		font-size: 15px;
		font-weight: 300;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 90px;
	}
	p, li {
		font-weight: 300;
		text-align: left;
		font-size: 18px;
    	line-height: 36px;
	}
	#disqus_thread {
		max-width: 700px;
    	margin: 0 auto;
	}
}

.services-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1060px;
	flex-wrap: wrap;
	margin: 0 auto;
	p {
		font-weight: 300;
	}
}

.consultation {
	.phone-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		.phone-column {
			flex-direction: column;
			max-width: 100px;
			margin-left: 30px;
			margin-right: 30px;
		}
	}
}

.maps {
	.map-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-width: 100%;
		margin-bottom: 65px;
	}
	.section-name {
		color: $section-name-color;
	}
	p {
		margin: 0;
		padding: 0;
	}
	.section {
		margin-bottom: 30px;
		margin-right: 35px;
		a {
			color: black;
			text-decoration: none;
		}
	}
}

.contact-form {
	width: 800px;
	margin: 0 auto;
	.gform_body {
		#field_1_2, #field_1_3 {
			display: inline-block;
			min-width: 392px;
		}
	}
}

.about-post {
	max-width: 700px;
	margin: 0 auto;
}

.about-banner {
	min-width: 100%;
	height: 400px;
	background-image: url('img/about-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	    margin-top: 120px;
	.overlay {
		min-width: 100%;
		min-height: 100%;
		background-color: rgba(0,0,0,0.4);
		display: flex;
		align-items: center;
		.book-wrap {
			max-width: 900px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			margin: 0 auto;
			text-align: center;
			img {
				width: 221px;
    			height: 343px;
    			max-width: none;
    			box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.50);
			}
			.the-gateway {
				margin-right: 35px;
			}
			.banner-text {
				margin-left: 35px;
				p {
					margin: 35px 0 50px 0;
					color: white;
				}
				.button {
					color: white !important;
					border-color: white;
					&:hover {
						background-color: rgba(0,0,0,0.6);
						border-color: rgba(0,0,0,0.6);
					}
				}
				.quote {
					margin-bottom: 0;
				}
			}
		}
	}
}

.footer-menu {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 50px;
	#menu-footer-menu {
		list-style: none;
		li {
			display: inline-block;
			font-size: 14px;
			font-weight: 300;
			margin: 0;
			padding: 0 5px 0 2.5px;
			border-right: 1px solid white;
			&:last-child {
				border: none;
			}
		}
	}
}

#disqus_thread {
	max-width: 700px;
	margin: 0 auto;
}

#bgvid {
	position: absolute;
	height: calc(100vh - 153px);
	min-width: 100%;
	z-index: -999;
	overflow:hidden;
	video {
		min-width: 100%;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(polina.jpg) no-repeat;
	    background-size: cover;
	}
}

.admin-bar #bgvid {
	height: calc(100vh - 153px - 32px);
}

.radio-header {
	min-width: 100%;
	height: calc(100vh - 153px);
	//background-image: url('img/radio-header.jpg');
	margin-bottom: 50px;
}

.admin-bar .radio-header {
	height: calc(100vh - 153px - 32px);
}

.broadcast-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 500px;
	display: inline-block;
	margin-right: 25px;
	text-align: center;
	vertical-align: top;
	p {
		margin: 0;
		padding: 0;
	}
	audio {
		margin-top: 25px;
	}
}

.broadcast-text {
	width: 500px;
	display: inline-block;
	margin-left: 25px;
}

.audio-file {
	min-width: 100%;
	audio {
		min-width: 100%;
	}
}

.single-broadcast {
	margin: 0 auto;
	max-width: 1100px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #3F3F3F;
}

.mobile-menu {
	display: none;
}

@media screen and (max-width: 1000px) {
	.mobile-menu {
		display: block;
		.hamburger-menu {
			display: block;
			z-index: 999;
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.mobile-wrap {
			display: none;
		}
		#mobile-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-direction: column;
			min-width: 100%;
			background-color: rgba(60, 60, 60, 0.6);
			color: white;
			position: absolute;
			top: 0;
			right: 0;
			padding-top: 88px;
			li {
				padding: 20px;
				font-size: 20px;
				&:hover {
					opacity: 0.6;
				}
			}
			a {
				color: white;
			}
		}
	}
	#primary-menu {
		display: none !important;
	}
	.map-wrap {
		flex-direction: column !important;
		text-align: center;
	}
	.single-broadcast {
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		.broadcast-text {
			text-align: left;
		}
	}
}

.menu-toggle {
	display: none !important;
}

.social-media {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	flex-wrap: wrap;
	.icon {
		margin-left: 30px;
		margin-right: 30px;
	}
}

.last-radio-p {
	margin-bottom: 30px !important;
}

.service {
	p {
		margin-bottom: 20px;
	}
	.button {
		display: block;
		max-width: 138px;
	}
}

.single-article {
	.post-title {
		margin-bottom: 20px;
	}
}

.radio-wrap {
	img {
		width: 300px;
    	height: 100%;
    	margin-top: 18px;
	}
	.radio-station{
		margin-bottom: 20px;
	}
	.button {
		margin-top: 50px;
		display: block;
		color: white;
	}
}

.bolded-title {
	margin-bottom: 10px !important;
}

.home-section {
	.article {
		.button {
			display: block;
			max-width: 138px;
		}
	}
}

.testimonial-videos {
	max-width: 1060px;
    margin: 0 auto;
}

.testimonial-video {
	text-align: center;
    width: 49%;
    display: inline-block;
    vertical-align: top;
	video {
		max-width: 700px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: 85px;
	}
}

.testimonials-page {
	.page-title {
		margin-bottom: 130px;
	}

}

.ttshowcase_rl_subtitle, .ttshowcase_rl_date {
    margin-bottom: 20px;
}