.site-header {
	background-color: #F6F6F6;
	text-align: center;
}

.office-info {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 2px solid black;
	.office-name {
		margin-left: 50px;
	}
	.office-number {
		margin-right: 50px;
	}
}

#site-navigation {
	#primary-menu {
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
		display: table;
		li {
			margin: 0;
			margin: 20px 5px 20px 5px;
			a {
				padding: 10px;
			}
		}
	}
}

.home-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.services {
	text-align: center;
}

.service-list {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 75px;
}

.service {
	max-width: 20%;
	margin: 22.5px;
}

.contact-links {
	text-align: center;
	margin-top: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	.button {
		width: 260px;
		margin-left: 60px;
		margin-right: 60px;
	}
}

.articles {
	margin-top: 130px;
	max-width: 80%;
	.article-list {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 60px;
	}
	.article {
		max-width: 40%;
	}
	.article:first-child {
		margin-right: 50px;
	}
}

.radio-show {
	margin-top: 120px;
		.radio-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.radio-info {
			max-width: 300px;
			margin-left: 70px;
		}
	}
}

.site-footer {
	background-color: #282828;
	min-width: 100%;
	color: white;
	margin-top: 50px;
	a {
		color: white;
		text-decoration: none;
	}
	.footer-row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 60%;
		margin: 0 auto;
		margin-top: 50px;
		.service {
			min-width: 100%;
			h3 {
				margin: 0;
				padding: 0;
				margin-bottom: 7px;
			}
		}
		.article {
			margin-bottom: 7px;
		}
	}
	.section-name {
		margin-bottom: 40px;
	}
	.disclaimer {
		font-style: italic;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		margin-top: 50px;
	}
	.contact-links {
		margin-top: 50px;
		.button {
			border-color: white;
		}
	}
	.copyright {
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		margin-top: 50px;
	}
}

.articles-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.article {
		max-width: 30%;
		margin-top: 100px;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.single-article {
	margin: 0 auto;
	margin-top: 100px;
	max-width: 60%;
	.button {
		margin-left: -150px;
		margin-top: -50px;
	}
	.post-title {
		text-align: center;
		font-weight: 400;
		font-size: 35px;
		margin: 0;
	}
	.article-date {
		font-size: 15px;
		font-weight: 300;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 90px;
	}
	p {
		font-weight: 300;
		font-size: 15px;
		text-align: center;
	}
	#disqus_thread {
		max-width: 50%;
    	margin: 0 auto;
	}
}

.services-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 70%;
	flex-wrap: wrap;
	margin: 0 auto;
	p {
		font-weight: 300;
	}
}

.consultation {
	.phone-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		.phone-column {
			flex-direction: column;
			max-width: 30%;
			margin-left: 30px;
			margin-right: 30px;
		}
	}
}

.maps {
	.map-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-width: 100%;
		margin-bottom: 65px;
	}
	.section-name {
		color: $section-name-color;
	}
	p {
		margin: 0;
		padding: 0;
	}
	.section {
		margin-bottom: 30px;
		margin-right: 35px;
		a {
			color: black;
			text-decoration: none;
		}
	}
}

.contact-form {
	.gform_body {
		width: 800px;
		#field_1_2, #field_1_3 {
			display: inline-block;
			min-width: 400px;
		}
	}
}