body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

a:hover {
	transition: 250ms;
	opacity: 0.6;
}

.office-info {
	font-family: "Source Sans Pro";
	font-size: "20px";
	font-weight: 600;
	letter-spacing: 3px;
	a {
		color: black;
		text-decoration: none;
	}
}

#site-navigation {
	#primary-menu {
		li {
			padding: 0;
			margin: 0;
			&:last-child {
				border: 2px solid black;
				a {
					&:hover {
						color: white !important;
						transition: 250ms;
						background-color: black;
						opacity: 1 !important;
					}
				}
			}
			a {
				color: black;
				font-weight: 600;
				font-size: 15px;
				text-transform: Uppercase;
				opacity: 1;
				&:hover {
					transition: 250ms;
					opacity: 0.6;
				}
			}
		}
	}
}

.home-header {
	h1 {
		font-size: 100px;
		font-weight: 600;
		margin: 0;
	}
	h2 {
		font-size: 52px;
		font-weight: 600;
		margin: 0;
	}
}

.home-section {
	max-width: 1000px;
	margin: 0 auto;
	.section-name {
		color: $section-name-color;
		font-size: 16px;
		text-align: center;
	}
}

.about {
	margin-top: 70px;
	.about-info {
		margin: 0 auto;
		max-width: 60%;
		text-align: center;
		font-weight: 300;
		font-size: 15px;
		margin-bottom: 100px;
	}
	h3 {
		font-size: 35px;
		font-weight: 300;
		margin: 40px auto;
		text-align: center;
	}
}

.service {
	text-align: left;
	h3 {
		font-weight: 300;
		font-size: 20px;
	}
	p {
		font-weight: 300;
		font-size: 15px;
	}
	a {
		color: black;
		text-decoration: none;
	 }
}

.button {
	color: $section-name-color;
	text-decoration: none;
	border: 1px solid $section-name-color;
	padding: 20px 30px 20px 30px;
	text-align: center;
	font-size: 15px;
	&:visited {
		color: $section-name-color;
	}
	&:hover {
		transition: 250ms;
		background-color: $section-name-color;
		color: white;
	}
}

.articles {
	text-align: center;
	.article-list {
		margin-bottom: 50px;
	}
}

.article {
	h3 {
		font-size: 30px;
		font-weight: 300;
		margin: 0;
	}
	.article-date {
		text-align: center;
	}
	p {
		font-size: 15px;
		font-weight: 300;
		text-align: left;
	}
}

.site-footer {
	.section-name {
		color: $section-name-color;
		font-size: 16px;
		text-align: left;
	}
	h3 {
		font-size: 16px;
		text-align: left;
	}
	.service {
		margin: 0;
	}
	.article {
		.article-date {
			color: #909090;
			font-size: 13px;
			text-align: left;
		}
	}
	p {
		margin: 0;
	}
	.radio-show-footer {
		img {
			width: 140px;
			height: auto;
		}
		p {
			font-size: 13px;
			text-align: center;
		}
	}
	.button:hover {
		transition: 250ms;
		color: #282828;
		background-color: white;
	}
}	

.articles-page {
	.article {
		font-size: 30px;
		font-weight: 300;
		text-align: left;
		h3 {
			text-align: center;
		}
		.article-date {
			font-size: 15px;
			font-weight: 300;
		}
		p {
			font-weight: 15px;
			font-weight: 300;
		}
		.button {
			text-align: left;
		}
	}
}

.page-title {
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	min-width: 100%;
	margin: 0;
	margin-top: 60px;
}

.consultation {
	h2 {
		font-weight: 300;
		font-size: 35px;
		margin-bottom: 60px;
		text-align: center;
	}
	.section-name {
		color: $section-name-color;
		font-size: 16px;
		text-align: center;
		margin: 0;
		margin-bottom: 10px;
		margin-top: 40px;
	}
	.phone-column {
		text-align: center;
		p {
			margin: 0;
		}
		a {
			color: black;
			text-decoration: none;
		}
	}
	p {
		text-align: center;
		margin: 0;
		a {
			color: black;
			text-decoration: none;
		}
	}
}

.services-page {
	a {
		color: black;
		text-decoration: none;
		&:visited {
			color: black;
		}
	}
}

.single-article {
	h2 {
		font-weight: 300;
		font-size: 25px;
		margin-bottom: 50px;
		margin-top: 50px;
	}
}

.contact-title {
	margin-bottom: 80px;
}

.contact-form {
	#gform_submit_button_1 {
		color: $section-name-color;
		text-decoration: none;
		border: 1px solid $section-name-color;
		padding: 20px 30px 20px 30px;
		text-align: center;
		font-size: 15px;
		background: none;
		box-shadow: none;
		&:visited {
			color: $section-name-color;
		}
		&:hover {
			transition: 250ms;
			background-color: $section-name-color;
			color: white;
		}
	}
}

.about-post {
	.caption {
		font-size: 25px;
		font-weight: 300;
	}
	p {
		font-weight: 300;
		font-size: 15px;
		margin: 25px;
		&:first-child {
			margin-top: 50px;
		}	
	}
}