body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

a:hover {
	transition: 250ms;
	opacity: 0.6;
}

body {
	font-family: "Source Sans Pro";
}

.office-info {
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	.regular {
		font-weight: 400;
	}
	a {
		color: black;
		text-decoration: none;
	}
	.office-name {
		a {
			color: black;
		}
		h2 {
			margin-bottom: 0;
		}
		h3 {
			font-size: 14px;
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
		}
	}
}

#site-navigation {
	#primary-menu {
		li {
			padding: 0;
			margin: 0;
			&:last-child {
				border: 1px solid black;
				margin-top: 23px;
				a {

					padding: 7px 30px;
					&:hover {
						color: white !important;
						transition: 250ms;
						background-color: black;
						opacity: 1 !important;
					}
				}
			}
			a {
				color: black;
				font-weight: 600;
				font-size: 15px;
				text-transform: Uppercase;
				opacity: 1;
				&:hover {
					transition: 250ms;
					opacity: 0.6;
				}
			}
		}
	}
}

.home-header {
	h1 {
		font-size: 100px;
		font-weight: 600;
		letter-spacing: 18px;
    	line-height: 66px;
		margin: 0;
		span {
			font-size: 52px;
			font-weight: 600;
			margin: 0;
			letter-spacing: 9.36px;
		}
	}
	.tag-line {
		font-size: 25px;
		font-weight: 600;
		margin: 0;
		padding: 0;
		margin-top: 40px;
		max-width: 460px;
		text-align: center;
		letter-spacing: 3px;
    	line-height: 32px;
	}
}

.home-section {
	max-width: 1060px;
	margin: 0 auto;
	.section-name {
		color: $section-name-color;
		font-size: 16px;
		text-align: center;
	}
}

.about {
	margin-top: 70px;
	.about-info {
		margin: 0 auto;
		max-width: 60%;
		text-align: center;
		font-weight: 300;
		font-size: 15px;
	}
	h3 {
		font-size: 35px;
		font-weight: 300;
		margin: 40px auto;
		text-align: center;
	}
	.no-fee {
		font-weight: 600;
		font-size: 13px;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 100px;
	}
}

.service {
	text-align: left;
	h3 {
		font-weight: 300;
		font-size: 20px;
	}
	p {
		font-weight: 300;
		font-size: 15px;
	}
	a {
		text-decoration: none;
		color: black;
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.button {
	color: $section-name-color;
	text-decoration: none;
	border: 1px solid $section-name-color;
	padding: 17px 33px;
	text-align: center;
	font-size: 15px;
	&:visited {
		color: $section-name-color;
	}
	&:hover {
		transition: 250ms;
		background-color: $section-name-color;
		color: white;
	}
}

.articles {
	text-align: center;
}

.article {
	h3 {
		font-size: 30px;
		font-weight: 300;
		margin: 0;
	}
	.article-date {
		text-align: center;
	}
	p {
		font-size: 15px;
		font-weight: 300;
		text-align: left;
	}
}

.site-footer {
	.section-name {
		color: $section-name-color;
		font-size: 16px;
		text-align: left;
	}
	h3 {
		font-size: 16px;
		text-align: left;
	}
	.service {
		margin: 0;
	}
	.article {
		.article-date {
			color: #909090;
			font-size: 13px;
			text-align: left;
		}
	}
	p {
		margin: 0;
	}
	.radio-show-footer {
		img {
			width: 200px;
			height: auto;
		}
	}
	.button:hover {
		transition: 250ms;
		color: #282828;
		background-color: white;
	}
}

.articles-page {
	.article {
		font-size: 30px;
		font-weight: 300;
		text-align: left;
		h3 {
			text-align: center;
		}
		.article-date {
			font-size: 15px;
			font-weight: 300;
		}
		p {
			font-weight: 15px;
			font-weight: 300;
		}
		.button {
			text-align: left;
		}
	}
}

.page-title {
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	min-width: 100%;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 83px;
}

.consultation {
	h2 {
		font-weight: 300;
		font-size: 35px;
		margin-bottom: 60px;
		text-align: center;
	}
	.section-name {
		color: $section-name-color;
		font-size: 16px;
		text-align: center;
		margin: 0;
		margin-bottom: 10px;
		margin-top: 40px;
	}
	.phone-column {
		text-align: center;
		p {
			margin: 0;
		}
		a {
			color: black;
			text-decoration: none;
		}
	}
	p {
		text-align: center;
		margin: 0;
		a {
			color: black;
			text-decoration: none;
		}
	}
}

.single-article {
	h2 {
		font-weight: 300;
		font-size: 25px;
		margin-bottom: 50px;
		margin-top: 50px;
	}
}

.contact-title {
	margin-bottom: 80px;
}

.contact-form {
	#gform_submit_button_1 {
		color: $section-name-color;
		text-decoration: none;
		border: 1px solid $section-name-color;
		padding: 20px 30px 20px 30px;
		text-align: center;
		font-size: 15px;
		background: none;
		box-shadow: none;
		&:visited {
			color: $section-name-color;
		}
		&:hover {
			transition: 250ms;
			background-color: $section-name-color;
			color: white;
		}
	}
}

.about-post {
	.caption {
		font-size: 25px;
		font-weight: 300;
	}
	p {
		font-weight: 300;
		font-size: 15px;
		margin: 25px;
		&:first-child {
			margin-top: 50px;
		}
	}
}

.contact-page-form {
	margin: 0 auto !important;
	font-size: 16px;
	text-align: left !important;
	color: $section-name-color;
	max-width: 800px;
}

.radio-header {
	color: white;
	.overlay {
		min-width: 100%;
		min-height: 100%;
		//background-color: rgba(0,0,0,0.4);
		display: flex;
		align-items: center;
		.radio-wrap {
			max-width: 900px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin: 0 auto;
			text-align: center;
			img {
				margin: 0;
				padding: 0;
			}
			.page-title {
				margin-top: 50px;
				margin-bottom: 40px;
			}
			.radio-station {
				font-size: 20px;
				margin-top: 25px;
			}
		}
	}
	.page-title {
		margin: 0;
	}
	p {
		margin: 0;
	}
}

.broadcast-listings h2 {
	text-align: center;
    font-weight: normal;
    font-size: 32px;
}

.single-broadcast {
	.show-name {
		font-size: 20px;
		font-weight: 300;
	}
	.show-date,.show-guests {
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
	}
	.broadcast-text {
		font-weight: 300;
		font-size: 15px;
	}
}

.live-link {
	color: white;
	border-color: white;
	&:hover {
		background-color: white;
		color: black;
	}
}

.service-name-link {
	color: black;
	text-decoration: none;
}

footer {
	.footer-row {
		.article:hover, .service:hover{
			opacity: 0.6 !important;
		}
	}
}